@model PhotoBank.ViewModels.TagsPhotoIndexViewModel
<div style="padding:4px">
    @{ 
        @using (Html.BeginForm("UploadPhoto", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="files" />
            @Html.TextBox("photoName")        
            <input type="submit" value="Upload selected fies" />
        }
    }
</div>

@foreach (var photo in Model.Photos)
{
    var base64 = Convert.ToBase64String(photo.Data);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    var id = photo.PhotoID;
    var name = photo.Name;
    <table>
        <tr>
            <td>
                @name<br />
                <img src="@imgSrc" style="height:100px; width:100px; border:4px double black" />                
            </td>
            <td valign="top"> 
                @if (photo.PhotoTags.Count > 0)
                {
                    <table>
                        @foreach (var tag in photo.PhotoTags)
                        {
                        <tr>
                            <td style="padding-left:10px">
                                @Html.ActionLink(tag.Tag.TagPhrase, "TagPhotos", "Tags", new {tagID = tag.Tag.TagID })
                            </td>    
                        </tr>
                        }
                    </table>
                }
                <select asp-items="@Model.TagSelectionList" style="margin-left:10px" id="tagList" onchange="AttachTagToPhoto(this.value, @id)">
                    <option>Select tag</option>
                </select>
            </td>
            <td>
                @Html.ActionLink("Download Photo", "DownloadPhoto", new { photoID = id })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Delete", "DeletePhoto", new { photoID = id })
            </td>
        </tr>
    </table>
}
